.searchInput {
   margin: 25px;
   width: 85%;
   height: 40px;
   border: 2px solid lightgray;
   border-radius: 4px;
   float: left;
 }

 .searchBtn {
   width : 100%;
   float: left;
 }

 .titleDisplay {
   display: inline-block;
   vertical-align: top;
 }

 .minty {
   background-color: mintcream;
 }

 .favsBar {
   color: seagreen;
   font-family: Arial;
   text-align: left;
   padding: 25px;
   display: block;
 }

 .btn {
   max-width: 100%;
 }

 .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
 }